*{
box-sizing:border-box;
}

body{

margin:0;
padding:0;

min-height:100vh;

font-family:'Poppins',sans-serif;

background:
linear-gradient(135deg,#ffd1e6,#fff0f6,#ffb6d5);

display:flex;
justify-content:center;
align-items:center;

overflow-x:hidden;

}


/* Glass Cards */

.welcome,
.letter{

width:90%;
max-width:520px;

background:rgba(255,255,255,.45);

backdrop-filter:blur(20px);

border-radius:35px;

padding:35px;

text-align:center;

box-shadow:
0 20px 50px rgba(255,70,140,.25);

}



/* Welcome */

.welcome{

animation:fadeIn 1.5s ease;

}



.envelope{

font-size:90px;

animation:float 2s infinite ease-in-out;

}




h1{

font-family:'Dancing Script',cursive;

font-size:55px;

color:#ff3f8e;

margin-bottom:10px;

}



p{

font-size:18px;

color:#555;

}




/* Letter hidden initially */

.letter{

display:none;

animation:open 1s ease;

}





.photo{

width:230px;

height:230px;

object-fit:cover;

border-radius:50%;

border:8px solid white;

box-shadow:
0 0 35px #ff7fbc;

margin:20px;

}




.typing-box{

background:white;

padding:20px;

border-radius:20px;

color:#ff3f8e;

min-height:80px;

}




.card{

background:white;

margin:18px 0;

padding:22px;

border-radius:22px;

box-shadow:
0 10px 25px rgba(255,100,160,.15);

font-size:17px;

animation:slide .8s ease;

}




button{

border:none;

padding:16px 30px;

border-radius:40px;

background:#ff4f98;

color:white;

font-size:18px;

cursor:pointer;

margin:10px;

transition:.3s;

box-shadow:
0 10px 25px rgba(255,70,140,.35);

}



button:hover{

transform:scale(1.08);

}



.buttons{

display:flex;

justify-content:center;

flex-wrap:wrap;

}



#noBtn{

background:#888;

position:relative;

}



#final{

margin-top:25px;

font-size:22px;

color:#ff3f8e;

font-weight:bold;

}




/* Animations */


@keyframes fadeIn{

from{

opacity:0;
transform:translateY(50px);

}

to{

opacity:1;

}

}



@keyframes open{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}



@keyframes float{

50%{

transform:translateY(-15px);

}

}



@keyframes slide{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

}

}
@keyframes heartFly{

from{

transform:translateY(0);
opacity:1;

}

to{

transform:translateY(-500px);
opacity:0;

}

}



@keyframes fall{

from{

transform:translateY(-20px);

}

to{

transform:translateY(100vh);

}

}
