*{
box-sizing:border-box;
}

body{

margin:0;
min-height:100vh;

font-family:'Poppins',sans-serif;

background:
linear-gradient(135deg,#ffd6e8,#fff5fa,#ffc1dc);

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

}


.screen{

width:90%;
max-width:520px;

text-align:center;

background:rgba(255,255,255,0.45);

backdrop-filter:blur(18px);

padding:35px;

border-radius:35px;

box-shadow:
0 20px 50px rgba(255,80,150,.25);

}




.welcome{

animation:fade 1.5s ease;

}



.envelope{

font-size:90px;

animation:bounce 2s infinite;

}



h1{

font-family:'Dancing Script',cursive;

font-size:52px;

color:#ff3f8e;

}



p{

color:#555;

font-size:18px;

}




button{

border:none;

padding:15px 30px;

border-radius:50px;

background:#ff4f98;

color:white;

font-size:18px;

cursor:pointer;

margin:10px;

box-shadow:
0 10px 25px rgba(255,70,140,.35);

transition:.3s;

}


button:hover{

transform:scale(1.08);

}




.letter{

display:none;

animation:openLetter 1s ease;

}



.photo{

width:230px;

height:230px;

object-fit:cover;

border-radius:50%;

border:8px solid white;

box-shadow:
0 0 35px #ff77b7;

}




.message-area{

background:#fff;

margin-top:25px;

padding:25px;

border-radius:25px;

min-height:160px;

font-family:'Dancing Script',cursive;

font-size:28px;

color:#ff3f8e;

}




.forgive{

display:none;

}



.yes{

background:#ff4f98;

}



.no{

background:#777;

position:relative;

}




.celebration{

display:none;

text-align:center;

}



.celebration h1{

font-size:45px;

}



@keyframes bounce{

50%{

transform:translateY(-15px);

}

}



@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

}

}



@keyframes openLetter{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}
@keyframes fall{

from{

transform:translateY(-50px) rotate(0deg);

}

to{

transform:translateY(110vh) rotate(360deg);

}

}
